openapi: 3.1.0
info:
  version: '1'
  title: Payroc API
  description: Api for accessing Payroc services
  contact:
    name: Payroc Helpdesk
    url: https://docs.payroc.com/api
    email: helpdesk@payroc.com
servers:
  - url: https://api.payroc.com/v1
    description: Production
  - url: https://api.uat.payroc.com/v1
    description: UAT
security:
  - bearerAuth: []
tags:
  - name: Apple Pay session
    description: An Apple Pay session authenticates the merchant's domain with Apple. After you start an Apple Pay session, you can use the Apple Pay JS API to retrieve the cardholder's encrypted payment details.
  - name: Bank accounts
    description: Validate bank account information.
  - name: Bank transfer payments
    description: Take bank-transfer payments.
  - name: Bank transfer refunds
    description: Return payments to customers' bank accounts.
  - name: Cards
    description: Validate card information.
  - name: Contacts
    description: Individuals who serve as points of contact for the business.
  - name: Currency conversion
    description: Offer dynamic currency conversion to customers.
  - name: Event Subscriptions
    description: |
      Create an event subscription so that we notify you when certain events occur, for example, when we change the status of a processing account.  
      When you subscribe to an event, provide the following information:  
        - **Event type** - The events that we should notify you about. You can subscribe to more than one event within the same request. For a list of events that you can subscribe to, go to [Events](https://docs.payroc.com/knowledge/basic-concepts/events).  
        - **Notification method** - The endpoint that we send a notification to if an event occurs. We send notifications by webhook request.  
        - **Event status** - The status of the event subscription.  
        - **Support email address** - Email address that we contact if we can't deliver notifications.  
      <br/>  
      Use our event subscriptions endpoint to do the following:  
      - [**Create event subscription**](#createEventSubscription) - Subscribe to receive notifications when events occur.  
      - [**Update event subscription**](#updateEventSubscription) - Change the details of an event subscription, for example, to receive notifications for an additional event.  
      - [**Partially update an event subscription**](#patchEventSubscription) - Change values of an existing event subscription.  
      - [**Retrieve an event subscription**](#getEventSubscription) - Retrieve all the information that we stored in an event subscription. 
      - [**List event subscriptions**](#listEventSubscriptions) - Retrieve a list of all event subscriptions associated with the ISV's account.  
      - [**Delete event subscription**](#deleteEventSubscription)
  - name: Funding accounts
    description: Financial accounts associated with entities.
  - name: Funding activity
    description: Activity associated with a payfac account.
  - name: Funding instructions
    description: Instructions on how to split fund between recipients.
  - name: Funding recipients
    description: Entities that can receive funding but not take payments
  - name: Hosted Fields
    description: Create a Hosted Fields session.
  - name: Merchant platforms
    description: |
      A merchant platform is an entity that represents a business and includes its legal information and all processing accounts.<br/><br/>
      After you create a merchant platform for a business, you can do the following:  
        - [Create and add an additional processing account to a merchant platform.](#createProcessingAccount)  
        - [Retrieve a merchant platform.](#getMerchantAccounts)  
        - [Retrieve a list of merchant platforms.](#listMerchantPlatforms)  
        - [Retrieve a list of open processing accounts that are linked to a merchant platform.](#listMerchantLocations)  
          
          
      For more information about boarding a merchant, go to our [Board a merchant](/guides/integrate/boarding) guide. 
  - name: Owners
    description: Individuals who own or control the business.
  - name: Payment instructions
    description: Submit instructions for initiating payments on physical devices running semi-integrated apps.
  - name: Payment links
    description: Create and share payment links.
  - name: Payment plans
    description: Create and manage payment plans.
  - name: Payments
    description: Take card payments.
  - name: Pricing intents
    description: Create and manage pricing intents.
  - name: Processing accounts
    description: Create and manage processing accounts.
  - name: Processing terminals
    description: Retrieve processing terminals
  - name: Refund instructions
    description: Submit instructions for initiating refunds on physical devices running semi-integrated apps.
  - name: Refunds
    description: Return payments to customers.
  - name: Secure tokens
    description: Save customers' payment details.
  - name: Settlement
    description: Settlement information
  - name: Single use tokens
    description: Create temporary single-use tokens.
  - name: Subscriptions
    description: Subscribe customers to payment plans.
  - name: Terminal orders
    description: Place and retrieve terminal orders.
paths:
  /funding-recipients:
    summary: Create and manage funding recipients.
    post:
      tags:
        - Funding recipients
      summary: Create funding recipient
      description: Create a funding recipient.
      operationId: createFundingRecipient
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          description: Unique identifier that you generate for each request. You must use the [UUID v4 format](https://www.rfc-editor.org/rfc/rfc4122) for the identifier. For more information about the idempotency key, go to [Idempotency](https://docs.payroc.com/api/idempotency).
          schema: &ref_22
            type: string
            format: uuid
          examples: &ref_23
            example:
              value: 8e03978e-40d5-43e8-bc93-6894a57f9324
      requestBody:
        content:
          application/json:
            schema:
              required: &ref_523
                - address
                - contactMethods
                - recipientType
                - taxId
                - owners
                - fundingAccounts
                - doingBusinessAs
              type: object
              title: create funding recipient
              properties: &ref_524
                recipientId:
                  type: integer
                  readOnly: true
                  example: 1
                status:
                  type: string
                  readOnly: true
                  enum:
                    - approved
                    - rejected
                    - pending
                  example: approved
                createdDate:
                  type: string
                  format: date-time
                  example: '2024-07-02T15:30:00Z'
                  readOnly: true
                lastModifiedDate:
                  type: string
                  format: date-time
                  example: '2024-07-02T15:30:00Z'
                  readOnly: true
                recipientType:
                  type: string
                  description: Type or legal structure of the funding recipient.
                  example: privateCorporation
                  enum:
                    - privateCorporation
                    - publicCorporation
                    - nonProfit
                    - government
                    - privateLlc
                    - publicLlc
                    - privatePartnership
                    - publicPartnership
                    - soleProprietor
                taxId:
                  type: string
                  description: Employer identification number (EIN) or Social Security number (SSN).
                  example: 12-3456789
                charityId:
                  type: string
                  description: Government identifier of the charity.
                doingBusinessAs:
                  type: string
                  description: Legal name that the business operates under.
                address:
                  type: object
                  description: Address of the funding recipient.
                  oneOf:
                    - required: &ref_0
                        - city
                        - country
                        - address1
                        - postalCode
                        - state
                      type: object
                      title: address
                      description: Object that contains information about the address.
                      properties: &ref_1
                        address1:
                          type: string
                          description: Address line 1.
                          example: 1 Example Ave.
                          maxLength: 150
                        address2:
                          type: string
                          description: Address line 2.
                          example: Example Address Line 2
                          maxLength: 150
                        address3:
                          type: string
                          description: Address line 3.
                          example: Example Address Line 3
                          maxLength: 150
                        city:
                          type: string
                          description: City.
                          example: Chicago
                          maxLength: 50
                        state:
                          type: string
                          description: Name of the state or state abbreviation.
                          example: Illinois
                          maxLength: 50
                        country:
                          maxLength: 2
                          minLength: 2
                          type: string
                          description: Two-digit country code for the country that the business operates in. The format follows the [ISO-3166-1](https://www.iso.org/iso-3166-country-codes.html) standard.
                          example: US
                        postalCode:
                          type: string
                          description: Zip code or postal code.
                          example: '60056'
                          maxLength: 10
                contactMethods:
                  type: array
                  minItems: 1
                  description: Array of contactMethod objects that you can use to add contact methods for the funding recipient. You must provide at least an email address.
                  items:
                    discriminator: &ref_2
                      propertyName: type
                      mapping:
                        email: '#/components/schemas/contactMethodEmail'
                        phone: '#/components/schemas/contactMethodPhone'
                        mobile: '#/components/schemas/contactMethodMobile'
                        fax: '#/components/schemas/contactMethodFax'
                    oneOf: &ref_3
                      - required: &ref_510
                          - type
                          - value
                        type: object
                        title: Email contact method
                        properties: &ref_511
                          type:
                            type: string
                            description: Type of contact method.
                            enum:
                              - email
                          value:
                            type: string
                            description: Email address.
                            maxLength: 50
                            example: jane.doe@example.com
                      - required: &ref_512
                          - type
                          - value
                        type: object
                        title: Phone number contact method
                        properties: &ref_513
                          type:
                            type: string
                            description: Type of contact method.
                            enum:
                              - phone
                          value:
                            type: string
                            description: Phone number.
                            maxLength: 15
                            example: '2025550164'
                      - required: &ref_514
                          - type
                          - value
                        type: object
                        title: Mobile number contact method
                        properties: &ref_515
                          type:
                            type: string
                            description: Type of contact method.
                            enum:
                              - mobile
                          value:
                            type: string
                            description: Mobile number.
                            maxLength: 15
                            example: '8445557624'
                      - required: &ref_516
                          - type
                          - value
                        type: object
                        title: Fax number contact method
                        properties: &ref_517
                          type:
                            type: string
                            description: Type of contact method.
                            enum:
                              - fax
                          value:
                            type: string
                            description: Fax number.
                            maxLength: 15
                            example: '2025550110'
                  example:
                    - type: email
                      value: jane.doe@example.com
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                  description: '[Metadata](https://docs.payroc.com/api/metadata) object you can use to include custom data with your request.'
                  example:
                    yourCustomField: abc123
                owners:
                  minItems: 1
                  description: Array of owner objects that you can use to add owners to the funding recipient.
                  type: array
                  items:
                    type: object
                    title: owner
                    required: &ref_30
                      - firstName
                      - lastName
                      - dateOfBirth
                      - identifiers
                      - contactMethods
                      - relationship
                      - address
                    properties: &ref_31
                      ownerId:
                        type: integer
                        description: Unique identifier of the owner.
                        readOnly: true
                        example: 4564
                      firstName:
                        type: string
                        description: Owner's first name.
                        example: Jane
                        maxLength: 50
                      middleName:
                        type: string
                        description: Owner's middle name.
                        example: Helen
                        maxLength: 50
                      lastName:
                        type: string
                        description: Owner's last name.
                        example: Doe
                        maxLength: 50
                      dateOfBirth:
                        type: string
                        format: date
                        description: Owner's date of birth. The format of this value is **YYYY-MM-DD**.
                        example: '1964-03-22'
                      address:
                        required: *ref_0
                        type: object
                        title: address
                        description: Object that contains information about the address.
                        properties: *ref_1
                      identifiers:
                        minItems: 1
                        type: array
                        description: Array of IDs.
                        example:
                          - type: nationalId
                            value: xxxxx4320
                        items:
                          required: &ref_266
                            - type
                            - value
                          type: object
                          title: identifier
                          properties: &ref_267
                            type:
                              type: string
                              description: Type of ID provided to verify identity.
                              enum:
                                - nationalId
                            value:
                              type: string
                              description: Social Security Number (SSN) or Social Insurance Number (SIN).
                              example: xxxxx4320
                      contactMethods:
                        type: array
                        minItems: 1
                        maxItems: 4
                        uniqueItems: true
                        description: |
                          Array of contactMethod objects.  
                          **Note:** If you are adding information about an owner, you must provide at least an email address. If you are adding information about a contact, you must provide at least a contact number.   
                        items:
                          discriminator: *ref_2
                          oneOf: *ref_3
                      relationship:
                        description: Object that contains information about the owner's relationship to the business.
                        allOf:
                          - required: &ref_519
                              - isControlProng
                            type: object
                            title: Owner relationship
                            description: Object that contains information about the owner's relationship to the business.
                            properties: &ref_520
                              equityPercentage:
                                type: number
                                description: Percentage equity stake that the owner holds in the business.
                                format: percentage
                                example: 48.5
                                default: 0
                              title:
                                type: string
                                description: Owner's job title.
                                example: CFO
                              isControlProng:
                                type: boolean
                                description: Indicates if the owner is a control prong. You can identify only one control prong for a business.
                                example: true
                              isAuthorizedSignatory:
                                type: boolean
                                description: Indicates if the owner is an authorized signatory.
                                example: false
                fundingAccounts:
                  minItems: 1
                  description: Array of fundingAccount objects that you can use to add funding accounts to the funding recipient.
                  type: array
                  items:
                    required: &ref_20
                      - nameOnAccount
                      - paymentMethods
                      - type
                      - use
                    type: object
                    title: funding account
                    properties: &ref_21
                      fundingAccountId:
                        type: integer
                        description: Unique identifier of the funding account.
                        readOnly: true
                        example: 123
                      createdDate:
                        type: string
                        description: Date and time that we received your request to create the funding account in our system.
                        format: date-time
                        example: '2024-07-02T12:00:00.000Z'
                        readOnly: true
                      lastModifiedDate:
                        type: string
                        description: Date and time that the funding account was last modified.
                        format: date-time
                        example: '2024-07-02T12:00:00.000Z'
                        readOnly: true
                      status:
                        type: string
                        description: |
                          Status of the funding account. The value is one of the following:
                          - `approved` - We approved the funding account.
                          - `rejected` - We rejected the funding account.
                          - `pending` - We have not yet approved the funding account.
                          - `hold` - Our Risk team have temporarily placed a hold on the funding account.
                        readOnly: true
                        example: pending
                        enum:
                          - approved
                          - rejected
                          - pending
                          - hold
                      type:
                        type: string
                        description: Type of funding account.
                        enum:
                          - checking
                          - savings
                          - generalLedger
                        example: checking
                      use:
                        type: string
                        description: |
                          Indicates if we send funds or withdraw funds from the account.  
                          - `credit` - Send funds to the account.  
                          - `debit` - Withdraw funds from the account.  
                          - `creditAndDebit` - Send funds and withdraw funds from the account.
                        enum:
                          - credit
                          - debit
                          - creditAndDebit
                      nameOnAccount:
                        type: string
                        description: Name of the account holder.
                        example: Jane Doe
                      paymentMethods:
                        description: Array of paymentMethod objects.
                        uniqueItems: true
                        type: array
                        items: &ref_522
                          title: payment method
                          discriminator:
                            propertyName: type
                            mapping:
                              ach: '#/components/schemas/PaymentMethodAch'
                          oneOf:
                            - type: object
                              title: ACH payment method
                              properties: &ref_521
                                type:
                                  type: string
                                  description: Payment method that we use to send funds to the account.
                                  enum:
                                    - ach
                                value:
                                  required:
                                    - accountNumber
                                    - routingNumber
                                  type: object
                                  description: Object that contains information about the funding account.
                                  properties:
                                    routingNumber:
                                      maxLength: 9
                                      minLength: 9
                                      type: string
                                      description: Routing number of the funding account.
                                      example: '123456789'
                                    accountNumber:
                                      maxLength: 12
                                      minLength: 9
                                      type: string
                                      description: Account number of the funding account.
                                      example: '1234567890'
                      metadata:
                        type: object
                        additionalProperties:
                          type: string
                        description: '[Metadata](https://docs.payroc.com/api/metadata) object you can use to include custom data with your request.'
                        example:
                          yourCustomField: abc123
                      links:
                        readOnly: true
                        type: array
                        description: Array of HATEOAS links.
                        items:
                          type: object
                          readOnly: true
                          description: Object that contains HATEOAS links for the resource.
                          properties: &ref_4
                            rel:
                              type: string
                              description: Indicates the relationship between the current resource and the target resource.
                            method:
                              type: string
                              description: HTTP method that you need to use with the target resource.
                            href:
                              type: string
                              description: URL of the target resource.
                          required: &ref_5
                            - href
                            - method
                            - rel
                          example: &ref_6
                            rel: previous
                            method: get
                            href: <uri>
      responses:
        '201':
          description: Successful request. We created the funding recipient.
          content:
            application/json:
              schema:
                required: &ref_7
                  - address
                  - contactMethods
                  - recipientType
                  - taxId
                  - owners
                  - fundingAccounts
                  - doingBusinessAs
                type: object
                title: funding recipient
                properties: &ref_8
                  recipientId:
                    type: integer
                    description: Unique identifier of the funding recipient.
                    readOnly: true
                    example: 234
                  status:
                    type: string
                    description: Indicates if we have approved the funding recipient.
                    readOnly: true
                    enum:
                      - approved
                      - rejected
                      - pending
                    example: approved
                  createdDate:
                    type: string
                    description: Date the funding recipient was created.
                    format: date-time
                    example: '2024-07-02T15:30:00Z'
                    readOnly: true
                  lastModifiedDate:
                    type: string
                    description: Date the funding recipient was last modified.
                    format: date-time
                    example: '2024-07-02T15:30:00Z'
                    readOnly: true
                  recipientType:
                    type: string
                    enum:
                      - privateCorporation
                      - publicCorporation
                      - nonProfit
                      - government
                      - privateLlc
                      - publicLlc
                      - privatePartnership
                      - publicPartnership
                      - soleProprietor
                    example: privateCorporation
                    description: Type or legal structure of the funding recipient.
                  taxId:
                    type: string
                    description: Employer identification number (EIN) or Social Security number (SSN).
                    example: 12-3456789
                  charityId:
                    type: string
                    description: Government identifier of the charity.
                  doingBusinessAs:
                    type: string
                    description: Legal name that the business operates under.
                  address:
                    type: object
                    description: Address of the funding recipient.
                    oneOf:
                      - required: *ref_0
                        type: object
                        title: address
                        description: Object that contains information about the address.
                        properties: *ref_1
                  contactMethods:
                    type: array
                    minItems: 1
                    description: Array of contactMethod objects for the funding recipient.
                    items:
                      discriminator: *ref_2
                      oneOf: *ref_3
                    example:
                      - type: email
                        value: jane.doe@example.com
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                    description: '[Metadata](https://docs.payroc.com/api/metadata) object you can use to include custom data with your request.'
                    example:
                      yourCustomField: abc123
                  owners:
                    readOnly: true
                    description: Array of owner objects associated with the funding recipient.
                    type: array
                    items:
                      type: object
                      title: owner summary
                      properties:
                        ownerId:
                          type: integer
                          description: Unique identifier of the owner.
                          example: 4564
                        link:
                          type: object
                          description: Array of HATEOAS links for viewing the owner.
                          properties:
                            rel:
                              type: string
                              example: owner
                            href:
                              type: string
                              example: https://api.payroc.com/v1/owners/4564
                            method:
                              type: string
                              example: get
                  fundingAccounts:
                    readOnly: true
                    description: Array of fundingAccount objects associated with the funding recipient.
                    type: array
                    items:
                      type: object
                      title: funding account summary
                      properties:
                        fundingAccountId:
                          type: integer
                          description: Unique identifier of the funding account.
                          example: 123
                        status:
                          type: string
                          description: Status of the funding account.
                          enum:
                            - approved
                            - rejected
                            - pending
                            - hold
                          example: pending
                        link:
                          type: object
                          description: HATEOAS links for viewing the funding account.
                          properties:
                            rel:
                              type: string
                              example: fundingAccount
                            href:
                              type: string
                              example: https://api.payroc.com/v1/funding-accounts/123
                            method:
                              type: string
                              example: get
                    example:
                      - fundingAccountId: 123
                        status: approved
                        link:
                          rel: fundingAccount
                          href: https://api.payroc.com/v1/funding-accounts/123
                          method: get
                      - fundingAccountId: 124
                        status: rejected
                        link:
                          rel: fundingAccount
                          href: https://api.payroc.com/v1/funding-accounts/124
                          method: get
          headers:
            location:
              description: URI reference to created resource.
              schema: &ref_24
                type: string
              examples: &ref_25
                example:
                  value: <uri>
        '400':
          description: Validation errors
          content:
            application/problem+json:
              schema:
                type: object
                properties: &ref_9
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#bad-request
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Bad request
                  status:
                    type: integer
                    description: Http status code
                    example: 400
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: One or more validation errors occurred, see error section for more info
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: The parameter or field causing the issues
                          example: start_time
                        detail:
                          type: string
                          description: Short detail of the validation errors
                          example: invalid date
                        message:
                          type: string
                          description: Error message
                          example: Expected time, got '' for start_time
                required: &ref_10
                  - type
                  - title
                  - detail
                  - status
              examples:
                idempotentKeyMissing:
                  summary: Idempotency key missing
                  description: Idempotency key must be supplied
                  value: &ref_26
                    type: https://docs.payroc.com/api/errors#idempotency-key-missing
                    title: Idempotency-Key header missing
                    status: 400
                    detail: An 'Idempotency-Key' must be supplied for this request
                validationError:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: &ref_11
                    type: https://docs.payroc.com/api/errors#bad-request
                    title: Bad request
                    status: 400
                    detail: One or more validation errors occurred, see error section for more info
                    errors:
                      - parameter: start_time
                        detail: invalid date
                        message: Expected time, got '' for start_time
                kycCheckFailed:
                  summary: KYC check failed
                  description: KYC check failed
                  value: &ref_17
                    type: https://docs.payroc.com/api/errors#kyc-check-failed
                    title: Failed KYC Checks
                    status: 400
                    detail: Entity has been rejected due to failing KYC checks
        '401':
          description: Identity could not be verified
          content: &ref_12
            application/problem+json:
              schema:
                type: object
                properties: &ref_498
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#not-authorized
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Not Authorized
                  status:
                    type: integer
                    description: Http status code
                    example: 401
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: You do not have the required permissions to perform this action
                required: &ref_499
                  - type
                  - title
                  - status
                  - detail
              examples:
                notAuthorized:
                  summary: Not Authorized
                  description: Your identity could not be verified
                  value: &ref_812
                    type: https://docs.payroc.com/api/errors#not-authorized
                    title: Not Authorized
                    status: 401
                    detail: Your identity could not be verified
        '403':
          description: Do not have permissions to perform this action
          content: &ref_13
            application/problem+json:
              schema:
                type: object
                properties: &ref_500
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#forbidden
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Forbidden
                  status:
                    type: integer
                    description: Http status code
                    example: 403
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: You do not have the required permissions to perform this action
                  instance:
                    type: string
                    description: Resource path the action was attempted on
                    example: https://api.payroc.com/v1/example/3
                  resource:
                    type: string
                    description: Resource the action was attempted on
                    example: exampleResource
                required: &ref_501
                  - type
                  - title
                  - status
                  - detail
              examples:
                forbidden:
                  summary: Forbidden
                  description: You do not have the required permission
                  value: &ref_813
                    type: https://docs.payroc.com/api/errors#forbidden
                    title: Forbidden
                    status: 403
                    detail: You do not have the required permissions to perform this action
                    instance: https://api.payroc.com/v1/exampleResource/3
                    resource: exampleResource
        '406':
          description: Not acceptable
          content: &ref_19
            application/problem+json:
              schema:
                type: object
                properties: &ref_502
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#not-acceptable
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Not acceptable
                  status:
                    type: integer
                    description: Http status code
                    example: 406
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: Resource does not support the representation requested.
                required: &ref_503
                  - type
                  - title
                  - status
                  - detail
              examples:
                notAcceptable:
                  summary: Not acceptable
                  description: Requested representation not supported
                  value: &ref_815
                    type: https://docs.payroc.com/api/errors#not-acceptable
                    title: Not acceptable
                    status: 406
                    detail: Resource does not support the representation requested
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                type: object
                properties: &ref_27
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#resource-already-exists
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Resource already exists
                  status:
                    type: integer
                    description: Http status code
                    example: 409
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: The resource you attempted to create already exists
                  instance:
                    type: string
                    description: Resource path to the existing resource
                    example: https://api.payroc.com/v1/example/3
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: The parameter or field causing the issues
                          example: start_time
                        detail:
                          type: string
                          description: Short detail of the validation errors
                          example: invalid date
                        message:
                          type: string
                          description: Error message
                          example: Expected time, got '' for start_time
                  link:
                    type: object
                    readOnly: true
                    description: Object that contains HATEOAS links for the resource.
                    properties: *ref_4
                    required: *ref_5
                    example: *ref_6
                required: &ref_28
                  - type
                  - title
                  - status
                  - detail
              examples:
                idempotentKeyInUse:
                  summary: Idempotency key in use
                  description: Idempotency key in use
                  value: &ref_29
                    type: https://docs.payroc.com/api/errors#idempotency-key-in-use
                    title: Idempotency-Key in use
                    status: 409
                    detail: '''Idempotency-Key'' is already in use against a different request'
        '500':
          description: An error has occured
          content: &ref_14
            application/problem+json:
              schema:
                type: object
                properties: &ref_508
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#api-error
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Api error
                  status:
                    type: integer
                    description: Http status code
                    example: 500
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: Unable to process your request at this time
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                          example: Service offline
                required: &ref_509
                  - type
                  - title
                  - status
                  - detail
              examples:
                apiError:
                  summary: Api error
                  description: Unable to process your request.
                  value: &ref_814
                    type: https://docs.payroc.com/api/errors#api-error
                    title: Api error
                    status: 500
                    detail: We are unable to process your request at this time
                    errors:
                      - message: Service offline
    get:
      tags:
        - Funding recipients
      summary: List funding recipients
      description: Retrieve a list of all funding recipients associated with the ISV.
      operationId: listFundingRecipients
      parameters:
        - name: before
          in: query
          description: Points to the resource identifier that you want to receive your results before. Typically, this is the first resource on the previous page.
          schema: &ref_32
            type: string
          examples: &ref_33
            example:
              value: '2571'
        - name: after
          in: query
          description: Points to the resource identifier that you want to receive your results after. Typically, this is the last resource on the previous page.
          schema: &ref_34
            type: string
          examples: &ref_35
            example:
              value: '8516'
        - name: limit
          in: query
          description: States the total amount of results the response is limited to.
          schema: &ref_36
            type: integer
            default: 10
            maximum: 100
          examples: &ref_37
            example:
              value: 25
      responses:
        '200':
          description: Successful request. Returns a paginated list of all funding recipients.
          content:
            application/json:
              schema:
                type: object
                title: paginated funding recipients
                allOf: &ref_518
                  - type: object
                    description: Contains the pagination properties that you use to navigate through a list of results.
                    properties: &ref_38
                      limit:
                        type: number
                        description: Maximum number of results that we return for each page.
                        example: 25
                      count:
                        type: number
                        description: Number of results that we returned.
                        example: 23
                      hasMore:
                        type: boolean
                        description: Indicates that further results are available.
                        example: false
                      links:
                        type: array
                        description: Reference links to navigate to the previous page of results or to the next page of results.
                        example:
                          - rel: previous
                            method: get
                            href: <uri>
                          - rel: next
                            method: get
                            href: <uri>
                        items:
                          type: object
                          readOnly: true
                          description: Object that contains HATEOAS links for the resource.
                          properties: *ref_4
                          required: *ref_5
                          example: *ref_6
                  - type: object
                    properties:
                      data:
                        type: array
                        description: An array of funding recipients
                        items:
                          required: *ref_7
                          type: object
                          title: funding recipient
                          properties: *ref_8
              examples:
                paginatedFundingRecipients:
                  summary: Paginated funding recipients.
                  description: Paginated list of funding recipients.
                  value: &ref_811
                    limit: 10
                    count: 1
                    hasMore: false
                    links:
                      - rel: previous
                        method: get
                        href: https://api.payroc.com/v1/funding-recipients?before=234&limit=10
                    data:
                      - recipientId: 234
                        status: approved
                        createdDate: '2024-07-02T15:30:00Z'
                        lastModifiedDate: '2024-07-02T15:30:00Z'
                        recipientType: privateCorporation
                        taxId: 12-3456789
                        doingBusinessAs: Pizza Doe
                        address:
                          address1: 1 Example Ave.
                          city: Chicago
                          state: Illinois
                          country: US
                          postalCode: '60056'
                        contactMethods:
                          - type: phone
                            value: '2025550164'
                        metadata:
                          yourCustomField: abc123
                        owners:
                          - ownerId: 4564
                            link:
                              rel: owner
                              method: get
                              href: https://api.payroc.com/v1/owners/4564
                        fundingAccounts:
                          - fundingAccountId: 123
                            status: approved
                            link:
                              rel: fundingAccount
                              method: get
                              href: https://api.payroc.com/v1/funding-accounts/123
                          - fundingAccountId: 124
                            status: hold
                            link:
                              rel: fundingAccount
                              method: get
                              href: https://api.payroc.com/v1/funding-accounts/124
                noActivity:
                  summary: No records found
                  description: Valid request, but no records match the criteria.
                  value: &ref_55
                    limit: 10
                    count: 0
                    hasMore: false
                    links: []
                    data: []
        '400':
          description: Invalid request
          content: &ref_15
            application/problem+json:
              schema:
                type: object
                properties: *ref_9
                required: *ref_10
              examples:
                badRequest:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: *ref_11
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '500':
          description: An error has occured
          content: *ref_14
  /funding-recipients/{recipientId}:
    get:
      tags:
        - Funding recipients
      summary: Retrieve a funding recipient
      description: Retrieve a specific funding recipient.
      operationId: getFundingRecipient
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          schema: &ref_16
            type: integer
          example: 234
      responses:
        '200':
          description: Successful request. Returns the requested funding recipient.
          content:
            application/json:
              schema:
                required: *ref_7
                type: object
                title: funding recipient
                properties: *ref_8
              examples:
                fundingRecipient:
                  summary: Funding recipient.
                  description: Funding recipients.
                  value: &ref_816
                    recipientId: 234
                    status: approved
                    createdDate: '2024-07-02T15:30:00Z'
                    lastModifiedDate: '2024-07-02T15:30:00Z'
                    recipientType: privateCorporation
                    taxId: 12-3456789
                    doingBusinessAs: Pizza Doe
                    address:
                      address1: 1 Example Ave.
                      city: Chicago
                      state: Illinois
                      country: US
                      postalCode: '60056'
                    contactMethods:
                      - type: phone
                        value: '2025550164'
                    metadata:
                      yourCustomField: abc123
                    owners:
                      - ownerId: 4564
                        link:
                          rel: owner
                          method: get
                          href: https://api.payroc.com/v1/owners/4564
                    fundingAccounts:
                      - fundingAccountId: 123
                        status: approved
                        link:
                          rel: fundingAccount
                          method: get
                          href: https://api.payroc.com/v1/funding-accounts/123
                      - fundingAccountId: 124
                        status: hold
                        link:
                          rel: fundingAccount
                          method: get
                          href: https://api.payroc.com/v1/funding-accounts/124
        '400':
          description: Invalid request
          content: *ref_15
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: &ref_18
            application/problem+json:
              schema:
                type: object
                properties: &ref_315
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#not-found
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Not found
                  status:
                    type: integer
                    description: Http status code
                    example: 404
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: Specified resource was not found
                  resource:
                    type: string
                    description: Resource that was not found
                    example: exampleResource
                required: &ref_316
                  - type
                  - title
                  - status
                  - detail
              examples:
                notFound:
                  summary: Not found
                  description: Resource could not be found
                  value: &ref_317
                    type: https://docs.payroc.com/api/errors#not-found
                    title: Not found
                    status: 404
                    detail: Resource not found
                    resource: (The Type of the Resource)
        '500':
          description: An error has occured
          content: *ref_14
    put:
      tags:
        - Funding recipients
      summary: Update funding recipient
      description: Update a funding recipient. If you make significant changes, we may need to approve the funding recipient again.
      operationId: updateFundingRecipient
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          schema: *ref_16
          example: 234
      requestBody:
        content:
          application/json:
            schema:
              required: *ref_7
              type: object
              title: funding recipient
              properties: *ref_8
      responses:
        '204':
          description: Successful request. We updated the funding recipient.
        '400':
          description: Validation errors
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_9
                required: *ref_10
              examples:
                validationError:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: *ref_11
                kycCheckFailed:
                  summary: KYC check failed
                  description: KYC check failed
                  value: *ref_17
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '406':
          description: Not acceptable
          content: *ref_19
        '500':
          description: An error has occured
          content: *ref_14
    delete:
      tags:
        - Funding recipients
      summary: Delete funding recipient
      description: Delete a funding recipient. This includes funding accounts and owners linked to the funding recipient.
      operationId: deleteFundingRecipient
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          schema: *ref_16
          example: 234
      responses:
        '204':
          description: Successful request. We deleted the funding recipient.
        '400':
          description: Invalid request
          content: *ref_15
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '500':
          description: An error has occured
          content: *ref_14
  /funding-recipients/{recipientId}/funding-accounts:
    get:
      tags:
        - Funding recipients
      summary: List funding accounts
      description: Retrieve all funding accounts associated with the funding recipient.
      operationId: listFundRecipientFundingAccounts
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          schema: *ref_16
          example: 234
      responses:
        '200':
          description: Successful request. Returns a list of all funding accounts associated with the funding recipient.
          content:
            application/json:
              schema:
                type: array
                items:
                  required: *ref_20
                  type: object
                  title: funding account
                  properties: *ref_21
              examples:
                fundingAccounts:
                  summary: List of funding accounts
                  description: List of funding accounts.
                  value: &ref_817
                    - fundingAccountId: 123
                      createdDate: '2024-07-02T15:30:00Z'
                      lastModifiedDate: '2024-07-02T15:30:00Z'
                      status: approved
                      type: checking
                      use: credit
                      nameOnAccount: Jane Doe
                      paymentMethods:
                        - type: ach
                          value:
                            routingNumber: '*****6789'
                            accountNumber: '******7890'
                      metadata:
                        yourCustomField: abc123
                      links:
                        - rel: parent
                          href: https://api.payroc.com/v1/funding-recipient/234
                          method: get
                    - fundingAccountId: 124
                      createdDate: '2024-07-02T15:30:00Z'
                      lastModifiedDate: '2024-07-02T15:30:00Z'
                      status: pending
                      type: checking
                      use: debit
                      nameOnAccount: Jane Doe
                      paymentMethods:
                        - type: ach
                          value:
                            routingNumber: '*****8725'
                            accountNumber: '******3491'
                      metadata:
                        yourCustomField: abc123
                      links:
                        - rel: parent
                          href: https://api.payroc.com/v1/funding-recipient/235
                          method: get
        '400':
          description: Invalid request
          content: *ref_15
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '500':
          description: An error has occured
          content: *ref_14
    post:
      tags:
        - Funding recipients
      summary: Create funding account
      description: Create a new funding account, and add it to the funding recipient.
      operationId: createFundRecipientFundingAccount
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          schema: *ref_16
          example: 234
        - name: Idempotency-Key
          in: header
          required: true
          description: Unique identifier that you generate for each request. You must use the [UUID v4 format](https://www.rfc-editor.org/rfc/rfc4122) for the identifier. For more information about the idempotency key, go to [Idempotency](https://docs.payroc.com/api/idempotency).
          schema: *ref_22
          examples: *ref_23
      requestBody:
        content:
          application/json:
            schema:
              required: *ref_20
              type: object
              title: funding account
              properties: *ref_21
      responses:
        '201':
          description: Successful request. We created the funding account and added it to the funding recipient.
          content:
            application/json:
              schema:
                required: *ref_20
                type: object
                title: funding account
                properties: *ref_21
              examples:
                fundingAccount:
                  summary: Funding account
                  description: Funding accounts.
                  value: &ref_818
                    fundingAccountId: 123
                    createdDate: '2024-07-02T15:30:00Z'
                    lastModifiedDate: '2024-07-02T15:30:00Z'
                    status: approved
                    type: checking
                    use: credit
                    nameOnAccount: Jane Doe
                    paymentMethods:
                      - type: ach
                        value:
                          routingNumber: '*****6789'
                          accountNumber: '******7890'
                    metadata:
                      yourCustomField: abc123
                    links:
                      - rel: parent
                        href: https://api.payroc.com/v1/funding-recipient/234
                        method: get
          headers:
            location:
              description: URI reference to created resource.
              schema: *ref_24
              examples: *ref_25
        '400':
          description: Validation errors
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_9
                required: *ref_10
              examples:
                idempotentKeyMissing:
                  summary: Idempotency key missing
                  description: Idempotency key must be supplied
                  value: *ref_26
                validationError:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: *ref_11
                kycCheckFailed:
                  summary: KYC check failed
                  description: KYC check failed
                  value: *ref_17
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '406':
          description: Not acceptable
          content: *ref_19
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_27
                required: *ref_28
              examples:
                idempotentKeyInUse:
                  summary: Idempotency key in use
                  description: Idempotency key in use
                  value: *ref_29
        '500':
          description: An error has occured
          content: *ref_14
  /funding-recipients/{recipientId}/owners:
    get:
      tags:
        - Funding recipients
      summary: List funding recipient owners
      description: Retrieve all owners associated with the funding recipient.
      operationId: listFundRecipientOwners
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          schema: *ref_16
          example: 234
      responses:
        '200':
          description: Successful request. Returns a list of all owners associated with the funding recipient.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: owner
                  required: *ref_30
                  properties: *ref_31
        '400':
          description: Invalid request
          content: *ref_15
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '500':
          description: An error has occured
          content: *ref_14
    post:
      tags:
        - Funding recipients
      summary: Create funding recipient owner
      description: Create a new owner, and add it to the funding recipient.
      operationId: createFundRecipientOwner
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          schema: *ref_16
          example: 234
        - name: Idempotency-Key
          in: header
          required: true
          description: Unique identifier that you generate for each request. You must use the [UUID v4 format](https://www.rfc-editor.org/rfc/rfc4122) for the identifier. For more information about the idempotency key, go to [Idempotency](https://docs.payroc.com/api/idempotency).
          schema: *ref_22
          examples: *ref_23
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: owner
              required: *ref_30
              properties: *ref_31
      responses:
        '201':
          description: Successful request. We created the owner and added it to the funding recipient.
          content:
            application/json:
              schema:
                type: object
                title: owner
                required: *ref_30
                properties: *ref_31
          headers:
            location:
              description: URI reference to created resource.
              schema: *ref_24
              examples: *ref_25
        '400':
          description: Validation errors
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_9
                required: *ref_10
              examples:
                idempotentKeyMissing:
                  summary: Idempotency key missing
                  description: Idempotency key must be supplied
                  value: *ref_26
                validationError:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: *ref_11
                kycCheckFailed:
                  summary: KYC check failed
                  description: KYC check failed
                  value: *ref_17
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '406':
          description: Not acceptable
          content: *ref_19
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_27
                required: *ref_28
              examples:
                idempotentKeyInUse:
                  summary: Idempotency key in use
                  description: Idempotency key in use
                  value: *ref_29
        '500':
          description: An error has occured
          content: *ref_14
  /funding-accounts:
    get:
      tags:
        - Funding accounts
      summary: List funding accounts
      description: Retrieve a list of all funding accounts associated with the ISV.
      operationId: listFundingAccount
      parameters:
        - name: before
          in: query
          description: Points to the resource identifier that you want to receive your results before. Typically, this is the first resource on the previous page.
          schema: *ref_32
          examples: *ref_33
        - name: after
          in: query
          description: Points to the resource identifier that you want to receive your results after. Typically, this is the last resource on the previous page.
          schema: *ref_34
          examples: *ref_35
        - name: limit
          in: query
          description: States the total amount of results the response is limited to.
          schema: *ref_36
          examples: *ref_37
      responses:
        '200':
          description: Successful request. Returns a paginated list of all funding accounts.
          content:
            application/json:
              schema:
                type: object
                title: paginated funding accounts
                allOf: &ref_525
                  - type: object
                    description: Contains the pagination properties that you use to navigate through a list of results.
                    properties: *ref_38
                  - type: object
                    properties:
                      data:
                        type: array
                        description: |
                          Array of funding account objects for the processing account. Each processing account must have:  

                          - One funding account that accepts both credits to the account and debits from the account.  

                          OR  

                          - Two funding accounts - one for credits to the account, and another account for debits from the account.  
                        items:
                          required: *ref_20
                          type: object
                          title: funding account
                          properties: *ref_21
                    required:
                      - data
              examples:
                fundingAccountExample:
                  summary: Paginated funding accounts
                  value: &ref_819
                    limit: 2
                    count: 2
                    hasMore: true
                    links:
                      - rel: previous
                        method: get
                        href: https://api.payroc.com/v1/funding-accounts?before=123&limit=2
                      - rel: next
                        method: get
                        href: https://api.payroc.com/v1/funding-accounts?after=124&limit=2
                    data:
                      - fundingAccountId: 123
                        createdDate: '2024-07-02T15:30:00Z'
                        lastModifiedDate: '2024-07-02T15:30:00Z'
                        status: approved
                        type: checking
                        use: credit
                        nameOnAccount: Jane Doe
                        paymentMethods:
                          - type: ach
                            value:
                              routingNumber: '*****6789'
                              accountNumber: '******7890'
                        metadata:
                          yourCustomField: abc123
                        links:
                          - rel: parent
                            href: https://api.payroc.com/v1/merchants/4525644354
                            method: get
                      - fundingAccountId: 124
                        createdDate: '2024-07-02T15:30:00Z'
                        lastModifiedDate: '2024-07-02T15:30:00Z'
                        status: pending
                        type: checking
                        use: debit
                        nameOnAccount: Jane Doe
                        paymentMethods:
                          - type: ach
                            value:
                              routingNumber: '*****8725'
                              accountNumber: '******3491'
                        metadata:
                          yourCustomField: abc123
                        links:
                          - rel: parent
                            href: https://api.payroc.com/v1/funding-recipient/234
                            method: get
                noResults:
                  summary: No results found
                  description: No results found
                  value: &ref_820
                    limit: 10
                    count: 0
                    hasMore: false
                    links: []
                    data: []
        '400':
          description: Invalid request
          content: *ref_15
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '500':
          description: An error has occured
          content: *ref_14
  /funding-accounts/{fundingAccountId}:
    get:
      tags:
        - Funding accounts
      summary: Retrieve funding account
      description: Retrieve a specific funding account.
      operationId: getFundingAccount
      parameters:
        - name: fundingAccountId
          in: path
          required: true
          description: Unique identifier of the funding account.
          schema: &ref_39
            type: integer
          examples: &ref_40
            example:
              value: 123
      responses:
        '200':
          description: Successful request. Returns the requested funding account.
          content:
            application/json:
              schema:
                required: *ref_20
                type: object
                title: funding account
                properties: *ref_21
              examples:
                fundingAccountExample:
                  summary: Masked funding account example.
                  value: &ref_821
                    fundingAccountId: 123
                    createdDate: '2024-07-02T15:30:00Z'
                    lastModifiedDate: '2024-07-02T15:30:00Z'
                    status: pending
                    type: checking
                    use: credit
                    nameOnAccount: Jane Doe
                    paymentMethods:
                      - type: ach
                        value:
                          routingNumber: '*****6789'
                          accountNumber: '******7890'
                    metadata:
                      yourCustomField: abc123
                    links:
                      - rel: parent
                        href: https://api.payroc.com/v1/merchants/4525644354
                        method: get
        '400':
          description: Invalid request
          content: *ref_15
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '500':
          description: An error has occured
          content: *ref_14
    put:
      tags:
        - Funding accounts
      summary: Update funding account
      description: Update a funding account.
      operationId: updateFundingAccount
      parameters:
        - name: fundingAccountId
          in: path
          required: true
          description: Unique identifier of the funding account.
          schema: *ref_39
          examples: *ref_40
      requestBody:
        content:
          application/json:
            schema:
              required: *ref_20
              type: object
              title: funding account
              properties: *ref_21
      responses:
        '204':
          description: Successful request. We updated the funding account.
        '400':
          description: Validation errors
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_9
                required: *ref_10
              examples:
                validationError:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: *ref_11
                kycCheckFailed:
                  summary: KYC check failed
                  description: KYC check failed
                  value: *ref_17
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '406':
          description: Not acceptable
          content: *ref_19
        '500':
          description: An error has occured
          content: *ref_14
    delete:
      tags:
        - Funding accounts
      summary: Delete funding account
      description: Delete a funding account.
      operationId: deleteFundingAccount
      parameters:
        - name: fundingAccountId
          in: path
          required: true
          description: Unique identifier of the funding account.
          schema: *ref_39
          examples: *ref_40
      responses:
        '204':
          description: Successful request. We deleted the funding account.
        '400':
          description: Invalid request
          content: *ref_15
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '500':
          description: An error has occured
          content: *ref_14
  /owners/{ownerId}:
    get:
      tags:
        - Owners
      summary: Retrieve owner
      description: |
        Use this method to retrieve details about an owner of a processing account or an owner associated with a funding recipient.  

        To retrieve an owner, you need their ownerId. Our gateway returned the ownerId in the response of the [Create Processing Account](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create-processing-account) method or the [Create Funding Recipient Owner](https://docs.payroc.com/api/schema/funding/funding-recipients/create-owner) method.  

        **Note:** If you don't have the ownerId, use the [Retrieve Processing Account](https://docs.payroc.com/api/schema/boarding/processing-accounts/retrieve) method if you are searching for a processing account owner, or use the [List Funding Recipient Owners](https://docs.payroc.com/api/schema/funding/funding-recipients/list-owners) method if you are searching for a funding recipient owner.  

        Our gateway returns the following information about an owner:  
        - Name, date of birth, and address.  
        - Contact details, including their email address.  
        - Relationship to the business, including whether they are a control prong or authorized signatory, and their equity stake in the business. 
      operationId: getOwner
      parameters:
        - name: ownerId
          in: path
          description: Unique identifier that we assigned to the owner.
          required: true
          schema: &ref_41
            type: integer
          examples: &ref_42
            example:
              value: 4564
      responses:
        '200':
          description: Successful request. Returns the requested owner.
          content:
            application/json:
              schema:
                type: object
                title: owner
                required: *ref_30
                properties: *ref_31
              examples:
                retrievedOwner:
                  summary: Retrieve owner
                  description: Retrieve a specific owner.
                  value: &ref_822
                    ownerId: 4564
                    firstName: Jane
                    middleName: Helen
                    lastName: Doe
                    dateOfBirth: '1964-03-22'
                    address:
                      address1: 1 Example Ave.
                      address2: Example Address Line 2
                      address3: Example Address Line 3
                      city: Chicago
                      state: Illinois
                      country: US
                      postalCode: '60056'
                    identifiers:
                      - type: nationalId
                        value: xxxxx4320
                    contactMethods:
                      - type: email
                        value: jane.doe@example.com
                    relationship:
                      equityPercentage: 48.5
                      title: CFO
                      isControlProng: true
                      isAuthorizedSignatory: false
        '400':
          description: Invalid request
          content: *ref_15
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '500':
          description: An error has occured
          content: *ref_14
    put:
      tags:
        - Owners
      summary: Update owner
      description: |
        > **Important:** You can't update the details of an owner of a processing account.  

        Use this method to update the details of an owner associated with a funding recipient.  

        To update an owner, you need their ownerId. Our gateway returned the ownerId in the response of the [Create Funding Recipient](https://docs.payroc.com/api/schema/funding/funding-recipients/create) method and the [Create Funding Recipient Owner](https://docs.payroc.com/api/schema/funding/funding-recipients/create-owner) method.   

        **Note:** If you don't have the ownerId, use the [List Funding Recipient Owners](https://docs.payroc.com/api/schema/funding/funding-recipients/list-owners) method, the [Retrieve Funding Recipient](https://docs.payroc.com/api/schema/funding/funding-recipients/retrieve) method, or the [List Funding Recipients](https://docs.payroc.com/api/schema/funding/funding-recipients/list) method to search for the funding recipient owner.  

        You can update the following details about an owner:  

        - Personal details, including their name, date of birth, and address.  
        - Identification details, including their identification type and number.  
        - Contact details, including their email address.  
        - Relationship to the business, including whether they are a control prong.  
      operationId: updateOwner
      parameters:
        - name: ownerId
          in: path
          description: Unique identifier that we assigned to the owner.
          required: true
          schema: *ref_41
          examples: *ref_42
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: owner
              required: *ref_30
              properties: *ref_31
            examples:
              updateOwner:
                summary: Update owner
                description: Update a specific owner.
                value: &ref_823
                  firstName: Jane
                  middleName: Helen
                  lastName: Doe
                  dateOfBirth: '1964-03-22'
                  address:
                    address1: 1 Example Ave.
                    address2: Example Address Line 2
                    address3: Example Address Line 3
                    city: Chicago
                    state: Illinois
                    country: US
                    postalCode: '60056'
                  identifiers:
                    - type: nationalId
                      value: 000-00-4320
                  contactMethods:
                    - type: email
                      value: jane.doe@example.com
                  relationship:
                    equityPercentage: 48.5
                    title: CFO
                    isControlProng: true
                    isAuthorizedSignatory: false
      responses:
        '204':
          description: Successful request. We updated the owner.
        '400':
          description: Validation errors.
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_9
                required: *ref_10
              examples:
                validationError:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: *ref_11
                kycCheckFailed:
                  summary: KYC check failed
                  description: KYC check failed
                  value: *ref_17
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '406':
          description: Not acceptable
          content: *ref_19
        '500':
          description: An error has occured
          content: *ref_14
    delete:
      tags:
        - Owners
      summary: Delete owner
      description: |
        > **Important:** You can't delete an owner of a processing account. 

        Use this method to delete an owner associated with a funding recipient. You can delete an owner only if the funding recipient has more than one owner.  

        To delete an owner, you need their ownerId. Our gateway returned the ownerId in the response of the [Create Funding Recipient](https://docs.payroc.com/api/schema/funding/funding-recipients/create) method and the [Create Funding Recipient Owner](https://docs.payroc.com/api/schema/funding/funding-recipients/create-owner) method.  

        **Note:** If you don't have the ownerId, use the [List Funding Recipient Owners](https://docs.payroc.com/api/schema/funding/funding-recipients/list-owners) method, the [Retrieve Funding Recipient](https://docs.payroc.com/api/schema/funding/funding-recipients/retrieve) method, or the [List Funding Recipients](https://docs.payroc.com/api/schema/funding/funding-recipients/list) method to search for the funding recipient owner.  
      operationId: deleteOwner
      parameters:
        - name: ownerId
          in: path
          description: Unique identifier that we assigned to the owner.
          required: true
          schema: *ref_41
          examples: *ref_42
      responses:
        '204':
          description: Successful request. We deleted the owner.
        '400':
          description: Invalid request
          content: *ref_15
        '401':
          description: Identity could not be verified
          content: *ref_12
        '403':
          description: Do not have permissions to perform this action
          content: *ref_13
        '404':
          description: Resource not found
          content: *ref_18
        '500':
          description: An error has occured
          content: *ref_14
  /pricing-intents:
    summary: Provides capabilities to list and create pricing intents.
    get:
      summary: List pricing intents
      description: |
        Use this method to return a [paginated](https://docs.payroc.com/api/pagination) list of pricing intents associated with the ISV.  

        **Note:** If you want to view a specific pricing intent and you have its pricingIntentId, use our [Retrieve Pricing Intent](https://docs.payroc.com/api/schema/boarding/pricing-intents/retrieve) method.  

        Our gateway returns the following information about each pricing intent in the list:  

        - Information about the fees, including the base fees, gateway fees, and processor fees.  
        - Status of the pricing intent, including whether we approved the pricing intent.  

        For each pricing intent, we also return its pricingIntentId which you can use to perform follow-on actions.  
      operationId: listPricingIntents
      tags:
        - Pricing intents
      parameters:
        - name: before
          in: query
          description: Points to the resource identifier that you want to receive your results before. Typically, this is the first resource on the previous page.
          schema: *ref_32
          examples: *ref_33
        - name: after
          in: query
          description: Points to the resource identifier that you want to receive your results after. Typically, this is the last resource on the previous page.
          schema: *ref_34
          examples: *ref_35
        - name: limit
          in: query
          description: States the total amount of results the response is limited to.
          schema: *ref_36
          examples: *ref_37
      responses:
        '200':
          description: Successful response. Returns a list of pricing intents.
          content:
            application/json:
              schema:
                type: object
                title: paginated pricing intents
                description: Object that contains information about your pricing intents.
                allOf: &ref_565
                  - type: object
                    description: Contains the pagination properties that you use to navigate through a list of results.
                    properties: *ref_38
                  - type: object
                    properties:
                      data:
                        type: array
                        description: Array of pricing intent objects.
                        items:
                          type: object
                          title: pricing intent
                          description: Object that contains information about a pricing intent.
                          oneOf: &ref_56
                            - type: object
                              title: pricing intent version 5.0
                              description: Object that contains information about a pricing intent for Merchant Processing Agreement (MPA) 5.0.
                              allOf: &ref_564
                                - type: object
                                  title: base pricing intent
                                  description: Object that contains information about the base fees.
                                  properties: &ref_526
                                    id:
                                      type: string
                                      description: Unique identifier of the pricing intent.
                                      readOnly: true
                                    createdDate:
                                      type: string
                                      example: '2024-07-02T09:00:00'
                                      format: date-time
                                      description: Date and time that we received your request to create the pricing intent. We return this value in the [ISO-8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.
                                      readOnly: true
                                    lastUpdatedDate:
                                      type: string
                                      example: '2024-07-02T09:00:00'
                                      format: date-time
                                      description: Date and time that the pricing intent was last modified. We return this value in the [ISO-8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.
                                      readOnly: true
                                    status:
                                      type: string
                                      description: |
                                        Status of the pricing intent. The value can be one of the following:
                                        - `active` - We have approved the pricing intent.
                                        - `pendingReview` - We have not yet reviewed the pricing intent.
                                        - `rejected` - We have rejected the pricing intent.
                                      readOnly: true
                                      enum:
                                        - active
                                        - pendingReview
                                        - rejected
                                    key:
                                      type: string
                                      description: Unique identifier that you can assign to the pricing intent for your own records.
                                    metadata:
                                      type: object
                                      additionalProperties:
                                        type: string
                                      description: '[Metadata](https://docs.payroc.com/api/metadata) object that contains your custom data.'
                                      example:
                                        yourCustomField: abc123
                                  required: &ref_527
                                    - key
                                - type: object
                                  title: US pricing agreement version 5.0
                                  description: Object that contains information about U.S. pricing intents for Merchant Processing Agreement (MPA) 5.0.
                                  required: &ref_264
                                    - country
                                    - version
                                    - base
                                  properties: &ref_265
                                    country:
                                      type: string
                                      description: Two-digit code for the country that the pricing intent applies to. The format follows the [ISO-3166-1](https://www.iso.org/iso-3166-country-codes.html) standard.
                                      enum:
                                        - US
                                    version:
[...]
